*{
    margin: 0;
}

:root{
    font-size: 0.625rem;
}


body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.footer {
    background-color: #342E37;
    padding: 25px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.baseline {
    font-style: italic;
    font-size: 15px;
}

header {
    background-color: #6d96ba;
}



#mentions {
    text-align: center;
    color: white;
    font-size: 2rem;
}

#bouton_menu {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.9rem;
}
#bouton_menu:hover {
    color: #342E37;
}

.liste_menu{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.liste_menu{
    text-align: center;
}

.liste_menu .page_menu {
    display: inline;
}

.page_menu {
    display: inline;
    margin: 5%;
    color: #342E37;
}

.menu {
    display: flex;
    justify-content: space-between;
    max-height: 120px;
}

.menu1 {
    display: flex;
    max-width: 40%;
    align-items: center;
}

.menu2 {
    display: flex;
    max-width: 60%;
    align-items: center;
    margin-right: 5%;
}

a {
    color: #342E37;
    text-decoration: none;
}

.imglogo {
    text-align: center;
    max-width: 70%;
    max-height: 70%;
}

.container {
display: flex;
}

#fond_bleu {
    background-color: rgba(109, 150, 186, 0.1);
}

.bloc_moitie {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between ;
      max-height: 500px;

      }

.bloc_moitie > div {
      width: 50%;
      min-height: 100%;
      padding: 0px 0;
      margin: 0px;
      text-align: center;
      font: center;
      white-space: normal;
      }

.bloc_tiers {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between ;
      max-height: 500px;
      margin-top: 10%;
      margin-bottom: 10%;
      }

.bloc_tiers > div {
      width: 33.33%;
      min-height: 100%;
      padding: 0px 0;
      margin: 0px;
      text-align: center;
      font: center;
  }

.bloc_entier {
      width: 100%;
      height: 100%;
      padding: 10px 0;
      margin: 0px;
      text-align: center;
      font: center;
      }

#div-centre {
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: 3px solid black;
}

#vertical_centre {
  white-space: nowrap;
  margin: auto;
}

#icone {
    max-height: 50px;
    margin: 10px;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

#icone:hover {
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

#image_bloc {
    width:100%;
    height:300px;
    object-fit: cover;
}

#image_fond {
    width:100%;
    height:300px;
    object-fit: contain;
}


.button_page {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgba(109, 150, 186, 0.8);
    background-image: white;
    margin-top: 20px;
}

.button_page:hover {
    background-color: rgba(109, 150, 186);
}

.button_page:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

h2 {
    font-size: 2rem;
    white-space: normal;
}

h3 {
    font-size: 1.5rem;
    white-space: normal;
}

p {
    white-space: normal;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {

.bloc_moitie {
      display: flex;
      flex-wrap: column;
      align-content: space-between ;
      max-height: 500px;
      padding-top: 25px;
      padding-bottom: 25px;
      }

.bloc_moitie > div {
      width: 100%;
      min-height: 100%;
      text-align: center;
      font: center;
      padding-top: 25px;
      padding-bottom: 25px;
      }

.bloc_tiers {
      display: flex;
      flex-wrap: column;
      align-content: space-between ;
      max-height: 500px;
      padding-top: 25px;
      padding-bottom: 25px;
      }

.bloc_tiers > div {
      width: 100%;
      min-height: 100%;
      text-align: center;
      font: center;
      padding-top: 25px;
      padding-bottom: 25px;
      margin: 25px;
    }

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

}