@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #342E37;
    padding: 10px;
}

.footer {
    background-color: #342E37;
    padding: 25px;
}

/* Personnaliser la baseline dans le menu */
.baseline {
    font-style: italic;
    font-size: 15px;
}

/* Personnaliser le contenu du footer */
#mentions {
    text-align: center;
    color: white;
}

/* Personnaliser les liens du menu */
#bouton_menu {
    color: #342E37;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

#bouton_menu:hover {
    color: white;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

/* Personnaliser la liste du menu */
.liste_menu{
    text-align: center;
}

.liste_menu .page_menu {
    display: inline;
}

.page_menu {
    margin: 5%;
    color: #342E37;
}

a {
    color: #342E37;
    text-decoration: none;
}

.menu {
    background-color: #6d96ba;
    padding: 5px;
}

H1{
    text-align: center;
}

/* pour sélectionner les input de type texte, textarea et select*/
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* pour personnaliser les noms des input*/
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: white;
}

/* Personnaliser le bouton envoyer */
input[type=submit] {
  background-color: #6d96ba;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: white;
  color: #342E37;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Personnaliser le container */
.container_form {
  border-radius: 5px;
  background-color: #342E37;
  padding: 20px;
  margin-left : 15%;
  margin-right : 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Sélectionner la colonne des titres' */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Sélectionner la colonne des inputs */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Aligner les colonnes */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Personnaliser les blocs de div */ 
.flex-container {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      min-height: 200px;
      }

/* Personnaliser l'intérieur d'un div */     
.flex-container > div {
      width: 50%;
      min-height: 300px;
      padding: 10px 0;
      margin: 0px;
      text-align: center;
      font-size: 35px;
      font: center;
      }

/* Changer le fond du div de gauche */
#bloc_img{
    /*background-color: #6d96ba;*/
    background-image: url('images/GROUPE_ENTIER_1.jpg');
}

/* Changer la couleur de fond du div de droite*/
#bloc_txt{
    background-color: #342E37;
}

/* changer la taille et la position des pictos du haut */
#picto-1, #picto-2, #picto-3{
    max-height: 200px;
    padding-top: 10%;
}

/* changer la taille et la position des pictos du bas */
#picto-tel, #picto-mail{
    max-height: 50px;
    padding-top: 10%;
}

#bloc_txt2{
    background-color: #342E37;
}

.contact {
    text-align: center;
}

/* Personnaliser bloc message dans le form */
textarea {
    height: 100px;
    font-family: 'Poppins', sans-serif;
}

#groupe1{
    max-height: 400px;
    border-radius: 10px;
}

p{
    font-size: 20px;
    padding-left: 10%;
    color : #FAFFFD;
}
/* Rendre responsive : à 600px
les titres passent au dessus des inputs */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Rendre responsive : à 600px
réduire la largeur du div */
@media screen and (max-width: 600px) {
  #bloc_img {
    width: 100%;
  }
}

/* Rendre responsive : à 600px
réduire la largeur du div et sa hauteur */
@media screen and (max-width: 600px) {
  #bloc_txt {
    width: 100%;
    max-height: 20px;
  }
}

/* Rendre responsive : à 600px
 réduire la taille des pictos */
@media screen and (max-width: 600px) {
  #picto-1, #picto-2, #picto-3{
    max-height: 20%;
    margin-top: 0;
  }
}