body {
    background-color: white;
}

header {

}

.header {
    background-color: white;
}
.logo {
    max-width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.liste_menu{
    text-align: center;
}

.liste_menu .page_menu {
    display: inline;
}

.page_menu {
    margin: 5%;
}

.menu {
    background-color: red;
    padding: 5px;
}

H1{
    text-align: center;
}

/* pour sélectionner les input de type texte, textarea et select*/
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* pour personnaliser les noms des input*/
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Personnaliser le bouton envoyer */
input[type=submit] {
  background-color: #e9b44b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Personnaliser le container */
.container_form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left : 15%;
  margin-right : 15%;
  margin-top: 5%;
}

/* Sélectionner la colonne des titres' */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Sélectionner la colonne des inputs */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Aligner les colonnes */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Rendre responsive : à 600px, les titres passent au dessus des inputs */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Personnaliser les blocs de div */ 
.flex-container {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      min-height: 300px;
      background-color: #1c87c9;
      }

/* Personnaliser l'intérieur d'un div */     
.flex-container > div {
      width: 50%;
      min-height: 500px;
      padding: 10px 0;
      margin: 0px;
      background-color: lightgrey;
      text-align: center;
      font-size: 35px;
      font: center;
      }
