body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.footer {
    background-color: #342E37;
    padding: 25px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.baseline {
    font-style: italic;
    font-size: 15px;
}

header {
    background-color: #342E37;
    padding: 10px;
}

#mentions {
    text-align: center;
    color: white;
}

#bouton_menu {
    color: #342E37;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

#bouton_menu:hover {
    color: white;
}

.header {

}

#rouge {
    background-color: #C17767;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.liste_menu{
    text-align: center;
}

.liste_menu .page_menu {
    display: inline;
}

.page_menu {
    margin: 5%;
    color: #342E37;
}

.menu {
    background-color: #6d96ba;
    padding: 5px;
}

a {
    color: #342E37;
    text-decoration: none;
}

.container {
display: flex;
}

.bloc_moitie {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between ;
      min-height: 300px;
      }

#fond_bleu {
    background-color: rgba(109, 150, 186, 0.1);
}

.bloc_moitie > div {
      width: 50%;
      min-height: 500px;
      padding: 10px 0;
      margin: 0px;
      text-align: center;
      font: center;
      }

.bloc_tiers {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between ;
      min-height: 200px;
      margin-top: 10%;
      margin-bottom: 10%;
      }

.bloc_tiers > div {
      width: 33.33%;
      min-height: 200px;
      padding: 0px 0;
      margin: 0px;
      text-align: center;
      font: center;
  }

.bloc_entier {
      width: 100%;
      padding: 10px 0;
      margin: 0px;
      text-align: center;
      font: center;
      }

#div-centre {
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: 3px solid black;
}

#vertical_centre {
  height: 10em;
  line-height: 10px;
  white-space: nowrap;
}

#image_groupe {
    /*background-image: url(images/GROUPE_ENTIER_2.jpg);*/
    background-color: transparent;
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

background-image {
        filter: blur(4px);
}

#icone {
    max-height: 50px;
    margin: 10px;
}

#icone:hover {
    max-height: 100px;
}