body {
    background-color: #e2dbbe;
}

header {
    background-color: #342E37;
}

.header {

}

#rouge {
    background-color: #C17767;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.liste_menu{
    text-align: center;
}

.liste_menu .page_menu {
    display: inline;
}

.page_menu {
    margin: 5%;
}

.menu {
    background-color: #6d96ba;
    padding: 5px;
}

.container {
display: flex;
}

.bloc_moitie {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between ;
      min-height: 300px;
      }

.bloc_moitie > div {
      width: 50%;
      min-height: 500px;
      padding: 10px 0;
      margin: 0px;
      text-align: center;
      font: center;
      }

.bloc_entier {
      width: 100%;
      padding: 10px 0;
      margin: 0px;
      text-align: center;
      font: center;
      }

#div-centre {
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: 3px solid black;
}

#vertical_centre {
  height: 10em; /* hauteur du parent */
  line-height: 10em; /* hauteur de ligne (identique) */
  white-space: nowrap; /* interdiction de passer à la ligne */
}

.row
